



nav {
    height: 60px;
    background-color: #E4E2D4;
    opacity: 0.75;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

.navigation {
    width: 960px;
    margin: auto;
    
}
h4 {
    color: #2B8895;
    font-size: 25px;
    margin: 5px 0px 5px 40px;
}
a {
    margin: 0 10px;
    padding: 18px;
    float: right;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: #2B8895;
}
a:hover {
    background-color: #202723
}

.name {
    height: 31px;
    float:left;
    padding: 14.5px 10px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #E4E2D4;
    background-color: #2B8895;
    text-indent: 0;

}
body { 
    background-image: url("../images/congruent_outline.png"); 
    background-repeat: repeat;
    background-position: center;
}

h1 {
    color: #E4E2D4;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    padding-top: 25px;
    height:70px;
    background-color: #2B8895;
}

.page {
    background-color: #E4E2D4;
    opacity: 0.6;
    background-position: center;
    vertical-align: middle;
    display:table;
    margin:auto;
    width: 960px;
    margin-top: 70px;
}

#portrait {
    width: 15%;
    float: left;
    margin-left: 20px;

}

#p1 {
    display: inline-block;
    width: 76%;
    min-width: 50px;
    margin-left: 30px;
    text-align: justify;
    padding-top: 20px;
}



#bottom-text {
    padding:0 30px 10px 30px;
    margin-top:10px;
    text-align: justify;
}


p {
    font-size: 18px;
    clear: both;
    line-height: 1.5;
    text-indent: 30px;
 

}

hr {

    background-color: #444;
    color: black;
    height: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:35px;
    background-color: #E4E2D4;
    opacity: 0.6;
}
h2 {
    padding-top:5px;
    color: #2B8895;
    font-size:30px;
}


/* GRID STYLING */

grid {
    
    margin: 22px auto 0 auto;
    display:grid;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 250px);
    grid-gap: 20px;
 }
.project {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3%;    
        border: black 2px solid;
}
h3 {
    position: relative;
    top: 25%;
    background-color: black;
    color: #2B8895;
    text-align: center;
    font-size: 25px;
    height: 30px;
    border: black 1px solid;
}
.A {
    background-image: url('../images/hangman.png');
}
.B {
    background-image: url('../images/rpg.png');
}
.C {
    background-image: url('../images/rock-paper-scissors.png');
}
.D {
    background-image: url('../images/trivia.png');
}

/* FORM STYLING */

input{
    display: inline-block;
    width: 85%;
    padding: 12px 15px;
    margin: 40px;
    box-sizing: border-box;
    font-size: 16px;
}

label {
    font-size: 20px;
    margin: 10 0 0 20px;
    position: relative;
    top: 30px;
    left: 39px;
}

textarea {
    display: block;
    width: 85%;
    padding: 12px 0px;
    margin: 40px;
    box-sizing: border-box;
}

#submit {
    width: 100px;

}
