



nav {
    height: 35px;
    background-color: #E4E2D4;
    opacity: 0.75;
  
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}
h4 {
    color: #2B8895;
    font-size: 25px;
    margin: 5px 0px 5px 40px;
}
a {
    margin: 20px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: #2B8895;


    
}
a:hover {
    background-color: #202723
}

body { 
    background-image: url("../images/congruent_outline.png"); 
    background-repeat: repeat;
    background-position: center;
}

h1 {
    color: #2B8895;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.page {
    background-color: #E4E2D4;
    opacity: 0.6;
    background-position: center;
    vertical-align: middle;
    display:table;
    margin:auto;
    width: 960px;
    margin-top: 35px;
    border: 5px black solid
}

#portrait {
    width: 15%;
    float: left;
    margin-left: 20px;

}

#p1 {
    display: inline-block;
    width: 80%;
    min-width: 50px;
    margin-left: 10px;
    text-align: justify;
}



#bottom-text {
    padding:10px;
    margin-top:10px;

}


p {
    font-size: 18px;
    clear: both;
    line-height: 1.5;
 

}

hr {
    background-color: black;
    color: black;
    height: 5px;
}



/* GRID STYLING */

grid {
    
    margin: 22px auto 0 auto;
    display:grid;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 250px);
    grid-gap: 20px;
 }
.project {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3%;    
        border: black 2px solid;
}
h3 {
    position: relative;
    top: 25%;
    background-color: #E4E2D4;
    color: #2B8895;
    text-align: center;
    font-size: 25px;
    height: 30px;
    border: black 2px soli
}
.A {
    background-image: url('../images/hangman.png');
}
.B {
    background-image: url('../images/rpg.png');
}
.C {
    background-image: url('../images/rock-paper-scissors.png');
}
.D {
    background-image: url('../images/trivia.png');
}

/* FORM STYLING */

input{
    display: block;
    width: 80%;
    padding: 12px 0px;
    margin: 30px;
    box-sizing: border-box;
    font-size: 16px;
}

label {
    font-size: 20px;
    border-bottom: black 3px solid
}

textarea {
    display: block;
    width: 80%;
    padding: 12px 0px;
    margin: 30px;
    box-sizing: border-box;
}

#submit {
    width: 100px;

}
